<section id="noticias" class="padded">
    <div class="container">
      <h2>Noticias</h2>
      <div class="row">
         <!-- (article.col>h3{Noticia $}+p>lorem)*4 -->
         <article class="col">
           <h3>Noticia 1</h3>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto eligendi, itaque similique laborum consequuntur omnis, veniam, tenetur deserunt molestias ducimus facere eius aspernatur tempore harum possimus commodi sequi porro cupiditate.</p>
         </article>
         <article class="col">
           <h3>Noticia 2</h3>
           <p>Eos in fugit exercitationem, amet numquam quis ullam deleniti at repudiandae autem. Corrupti repellendus praesentium, exercitationem excepturi ex, sed dolorem iste recusandae, eligendi beatae nemo tempore! Necessitatibus neque iusto unde.</p>
         </article>
         <article class="col">
           <h3>Noticia 3</h3>
           <p>Sint facilis, tempora in quam cum eius placeat? Amet culpa et in modi quo accusantium aperiam unde, qui consectetur explicabo suscipit exercitationem assumenda tenetur, quibusdam eum temporibus reiciendis! Quae, accusantium.</p>
         </article>
         <article class="col">
           <h3>Noticia 4</h3>
           <p>Dignissimos laboriosam illo, animi velit impedit vero at cupiditate blanditiis beatae aut unde eos, pariatur culpa incidunt consectetur! Aut nihil officia laudantium quos doloremque sint autem voluptatibus, iure veritatis ea.</p>
         </article>
      </div>
    </div>
</section>