<aside id="mensaje" class="padded">
    <div class="container">
      <h2>Vine, ví y vencí</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, placeat temporibus mollitia assumenda saepe laborum cum aliquid quisquam vitae voluptas eveniet, pariatur magnam quasi incidunt minus ipsum rem eos obcaecati reprehenderit nobis atque! Iste, quos. Aperiam provident quasi ut. Sunt hic voluptates corporis culpa expedita pariatur ducimus rerum assumenda, voluptas voluptatibus rem aut fuga? Repellendus unde rem aperiam placeat recusandae voluptas soluta magnam quisquam cum eos vitae ab nesciunt ad, itaque sequi quibusdam distinctio porro voluptatum, error fugit dignissimos. At?</p>
    </div>
</aside>
